<section id="reel">
    <h1 class="hidden">Demo Reel</h1>
    <div class="reelCont">
        <video class="hero-video" controls="controls">
            <source src="images/demo-reel.mp4" type="video/mp4">
        </video>
    </div>
</section>

{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="works" class="panel">
    <h1 class="section-title">
        Works
    </h1>

    <div class="portfolio">
        <!-- loop through all our team members and put their info on the page -->
        {{#each people}} <!-- this is like a  JS forEach loop -->
        <div class="port-item">
            <h2 class="hidden">Portfolio Item - {{Title}}</h2>
            <a href="{{ID}}" class="u-link">
                <img src="images/{{FeatureImage}}" alt="portfolio image" class="feature-image">

            <div class="port-details">
                <h6>{{Category}}</h3>
                <h2>{{Title}}</h1>
            </div>
            </a>
            
            <!--<a href="{{ID}}" class="u-link">
                See More Info
            </a>-->
        </div>
        {{/each}}        
    </div>
</section>